.history__title{
    text-align: center;
}

.history__item{
    display: flex;
    gap: 23px;
    align-items: center;
}

.history__image{
    padding-left: 35px;
}

.history__content{
    margin-bottom: 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 73px;
}

.history__title{
    padding-bottom: 64px;
}

.history__text {
    max-width: 363px;
}

.history__img-wrap{
    background: url(../../../img/main/history/Vector.svg) no-repeat;
    background-position: right;
    object-fit: contain;
    width: 105px;
    height: 100px;
}