@media screen and (max-width: 1620px){
    .header{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
    .cat-carusel__next{
        width: 5%;
        right: 0;
        transform: none;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }
    .cat-carusel__prev{
        width: 5%;
        left: 0;
        transform: none;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }
    .h-menu{
        order: 1;
        max-width: 100%;
        justify-content: space-around;
    }
    .h-usermenu{
        max-width: 100%;
        order: 2;
    }
    .h-usermenu__i-wrap{
        width: 100%;
    }
    .h-usermenu__input{
        max-width: 100%;
        width: 100%;
    }
    .isnta__item-1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .isnta__item-6{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .insta__wrapper{
        display: grid;
        gap: 20px;
        margin-bottom: 64px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 390px);
    }
    .reviews__wrapper-w{
        overflow-x: scroll;
    }
}

@media screen and (max-width: 1525px){
    .bucket__container{
        justify-content: center;
    }
}

@media screen and (max-width: 1020px){
    .header{
        justify-content: space-around;
        position: fixed;
        flex-wrap: wrap;
        flex-direction: column;
        background: rgba(255, 255, 255, 0);
        gap: 30px;
        top: 0;
        /* transform: translateY(-50%); */
        width: 100%;
    }
    .header__menu , .h-logo__img{
        display: none;
    }
    .hat__container{
        margin-bottom: 70px;
    }
    .header:target .hm-burger__link-close{
        display: block;
        left: -15px;
    }
    .header:target .header__menu{
        display: flex;
    }
    .header:target .h-logo__img{
        display: inline;
    }
    .header:target{
        background: rgba(255, 255, 255, 0.9);
    }
    .header__menu{
        width: max-content;
    }
    .h-menu__burger{
        z-index: 10;
        position: fixed;
        display: flex;
        top: 95px;
        right: 15px;
    }
    .h-menu{
        flex-direction: column;
        gap: 20px;
    }
    .h-usermenu{
        position: fixed;
        left: 0;
        top: 100vh;
        transform: translateY(-100%);
        background: rgba(255, 255, 255, 0.9);
        padding: 30px 15px;
    }
    .h-usermenu__i-wrap{
        width: 100%;
    }
    .h-usermenu__input{
        max-width: 100%;
        width: 100%;
        background: transparent;
    }
    .h-slider__wrapper{
        background: none;
    }
    .cat-carusel__item:first-child,.cat-carusel__item:last-child{
        display: none;
    }
    .cat-carusel__item:nth-of-type(even){
        margin: auto;
    }
    .footer, .recall__inputs{
        flex-wrap: wrap;
    }
    .recall__inputs{
        justify-content: center;
    }
    .recall__btn-wrap{
        align-items: center;
    }
    .composition__wrapper{
        max-width: 100%;
        overflow-y: scroll;
    }
    .composition__table {
        width: 800px;
    }
    .pad-wrapper{
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 650px){
    .h-slider__wrapper{
        padding: 15px;
    }
    .h-slider__arrow-wrap{
        display: none;
    }
    .cat-carusel__item:nth-of-type(even){
        display: none;
    }
    .cat-carusel__item{
        margin: auto;
    }
    .cat-carusel__prev, .cat-carusel__next{
        width: none;
        background: none;
        opacity: 1;
    }
    .history__item{
        flex-wrap: wrap;
    }
    .choise__castom{
        flex-direction: column;
    }
    .c-castom__checkbox{
        transform: rotate(90deg);
    }
    .h-usermenu__burger{
        display: flex;
    }
    .h-usermenu__user, .h-usermenu__favorit, 
    .h-usermenubu__bucket{
        position: absolute;
        right: 15px;
        bottom: 85px;
        background: #fff;
        transform: translateY(55px);
        opacity: 0;
        transition: 0.3s ease-out;
    }
    .h-usermenu__user{
        bottom: 185px;
        transform: translateY(155px);
    }
    .h-usermenu__favorit{
        bottom: 135px;
        transform: translateY(105px);
    }
    .h-usermenu__burger{
        z-index: 5;
    }
    .hu-burger_open:target {
        display: none;
    }
    .hu-burger_open:target ~ .hu-burger_close{
        display: flex;
    }
    .hu-burger_open:target  ~ .h-usermenubu__button {
        transform: none;
        opacity: 1;
    }
    .hu-burger_close{
        display: none;
    }
    .hat__container{
        display: none;
    }
    .s-describe__btns{
        flex-wrap: wrap;
    }
    .pad-wrapper{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 520px){
    .history__item{
        justify-content: center;
    }
    .history__subtitle{
        text-align: center;
    }
    .history__text{
        text-align: center;
    }
    .isnta__item-1{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    .isnta__item-6{
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    .insta__wrapper{
        display: grid;
        gap: 20px;
        margin-bottom: 64px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 390px);
    }
    .breadcrumbs{
        flex-wrap: wrap;
        gap: 20px;
    }
    .bc__sort{
        margin-left: auto;
    }
    .container-w{
        gap: 0;
    }
    .filter{
        flex-basis: 0;
    }
    .filter__wrapper{
        position: fixed;
        top: 0;
        transition: 0.5s;
        transform: translateX(-100%);
        width: 100vh;
        left: -15px;
        z-index: 2;
        padding: 15px 35px;
        height: 100vh;
        padding-bottom: 100px;
        overflow-y: scroll;
        background: #fff;
    }
    .same{
        justify-content: center;
    }
    .filter__chevron{
        display: block;
    }
    .filter__chevron_open:target{
        z-index: -1;
    }
    .filter__chevron_open:target ~ *{
        transform: none;
    }
    .filter__chevron_close:target{
        z-index: -1;
    }
    .filter__chevron_close:target ~ *{
        transform: translateX(-100%);
    }
    .c-promo__forma-w, .c-promo__score{
        flex-wrap: wrap;
    }
    .c-promo__price{
        font-size: 30px;
    }
    .p-describe__color, .p-describe__color:hover::before{
        width: 15px;
        height: 15px;
    }
    .s-describe__btns{
        justify-content: center;
    }
    .s-describe__t-row > .s-describe__t-cell:nth-of-type(2){
        text-align: end;
    }
}