.same__c-colors-1 > .same__c-color:nth-of-type(1){
    background: #696837;
}

.same__c-colors-1 > .same__c-color:nth-of-type(2){
    background: #81292F;
}

.same__c-colors-1 > .same__c-color:nth-of-type(3){
    background: #D8C1AA;
}

.same__c-colors-1 > .same__c-color:nth-of-type(4){
    background: #EED53A;
}


.same__c-colors-2 > .same__c-color:nth-of-type(1){
    background: #B69882;
}

.same__c-colors-2 > .same__c-color:nth-of-type(2){
    background: #CFBBAC;
}

.same__c-colors-2 > .same__c-color:nth-of-type(3){
    background: #9D856B;
}

.same__c-colors-3 > .same__c-color:nth-of-type(1){
    background: #FAF9F6;
}

.same__c-colors-3 > .same__c-color:nth-of-type(2){
    background: #EBD5BC;
}

.same__c-colors-3 > .same__c-color:nth-of-type(3){
    background: #0395AF;
}

.same__c-colors-3 > .same__c-color:nth-of-type(4){
    background: #F09482;
}

.same__c-colors-4 > .same__c-color:nth-of-type(1){
    background: #FAF9F6;
}

.same__c-colors-4 > .same__c-color:nth-of-type(2){
    background: #EBD5BC;
}

.same__c-colors-4 > .same__c-color:nth-of-type(3){
    background: #0395AF;
}

.same__c-colors-4 > .same__c-color:nth-of-type(4){
    background: #F09482;
}

.same__c-colors-5 > .same__c-color:nth-of-type(1){
    background: #E5D8CB;
}

.same__c-colors-5 > .same__c-color:nth-of-type(2){
    background: #C51212;
}

.same__c-colors-5 > .same__c-color:nth-of-type(3){
    background: #FC9257;
}

.same__c-colors-5 > .same__c-color:nth-of-type(4){
    background: #1C1C1C;
}

.same__c-colors-6 > .same__c-color:nth-of-type(1){
    background: #FCF7F4;
}

.same__c-colors-6 > .same__c-color:nth-of-type(2){
    background: #FAF0E2;
}

.same__c-colors-6 > .same__c-color:nth-of-type(3){
    background: #F24135;
}

.same__c-colors-6 > .same__c-color:nth-of-type(4){
    background: #0395AF;
}
