.describe{
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
}

.p-describe__image{
    width: 100%;
    vertical-align: middle;
}

.p-describe__colors{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-describe__color{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.p-describe__color:not(:last-child){
    margin-right: 15px;
}

.p-describe__color:nth-of-type(1){
    background: #EEAA56;
}

.p-describe__color:nth-of-type(2){
    background: #A5C3B3;
}

.p-describe__color:nth-of-type(3){
    background: #68171E;
}

.p-describe__color:nth-of-type(4){
    background: #596479;
}

.p-describe__color:nth-of-type(5){
    background: #EED737;
}

.p-describe__color:nth-of-type(6){
    background: #6F6D3A;
}

.p-describe__color:nth-of-type(7){
    background: #2C354E;
}

.p-describe__color:nth-of-type(8){
    background: #D2AD94;
}

.p-describe__color:nth-of-type(9){
    background: #8A8767;
}

.p-describe__color:nth-of-type(10){
background: #0C0C0B;
}

.p-describe__color:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    transform: translate(-8px, -8px);
    padding: 7px;
    border-radius: 50%;
    border: 1px solid #BDBDBD;
}

.s-describe__title-w{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

.s-describe__title-w > i{
    color: transparent;
    font-size: 22px;
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    -webkit-background-clip: text;
}

.s-describe__title{
    font-weight: 600;
    display: inline-block;
    font-size: 28px;
    line-height: 34px;
    color: #424242;
}

.s-describe__text{
    max-width: 755px;
    padding-top: 24px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #424242;
}

.s-describe__table-w{
    margin-top: 40px;
}

.s-desctibe__t-title{
    text-align: start;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #424242;
    padding-bottom: 32px;
    padding-left: 2px;
}

.s-describe__table{
    width: 100%;
    max-width: 430px;
    border-collapse: collapse;
}

.s-describe__t-row{
    border-bottom: 1px solid #BDBDBD;;
}

.s-describe__t-cell{
    font-size: 18px;
    line-height: 22px;
    color: #424242;
}

.s-describe__t-row > .s-describe__t-cell:nth-of-type(1){
    font-weight: 600;
}

.s-describe__t-row{
    display: flex;
    padding-bottom: 22px;
}

.s-describe__t-row:not(:nth-of-type(1)){
    padding-top: 22px;
}

.s-describe__t-row > .s-describe__t-cell:nth-of-type(1){
    flex-grow: 1;
    padding-left: 3px;
}

.s-describe__t-row > .s-describe__t-cell:nth-of-type(2){
    flex-basis: 153px;
}

.s-describe__btns{
    margin-top: 32px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.d-btns__price{
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #424244;
}

.d-btns__count-w{
    display: flex;
    gap: 13px;
    align-items: center;
    padding: 11px 12px 10px 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #bdbdbd;
    border: 1px solid #BDBDBD;
    border-radius: 46px;
}

.d-btns__count-w > i{
    cursor: pointer;
}


.d-btns__button{
    font-size: 16px;
    font-weight: 600;
}