.pad-wrapper{
    display: flex;
    gap: 80px;
}

.catalog{
    flex-basis: 392px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.catalog__title{
    font-weight: 600;
    font-size: 28px;
    line-height: 43px;
    color: #424242;
    padding-bottom: 16px;
}

.catalog__text-w{
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
    overflow: hidden;
    background: right / 148.84px no-repeat url(../../../img/main/payAndDel/cat-1.png);
}

.catalog__text-w:hover{
    background: right / 148.84px no-repeat url(../../../img/main/payAndDel/cat-1.png), linear-gradient(59.75deg, #C5C5A8 -2.61%, #E2E1CF 76.3%, #E2E1CF 76.3%);
}

.catalog__wrapper_hover:hover{
    background: linear-gradient(59.75deg, #C5C5A8 -2.61%, #E2E1CF 76.3%, #E2E1CF 76.3%);
}

.catalog__text{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #424242;
}

.qna{
    flex-basis: 860px;
}

.qna > *:not(:last-child){
    padding-bottom: 48px;
}

.qna__title{
    font-weight: 600;
    font-size: 28px;
    line-height: 43px;
    color: #424242;
    padding-bottom: 40px;
}

.qna__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #424242;
}

.qna__text:not(:last-child){
    padding-bottom: 30px;
}